/dist/
/docs/javadocs/
/out/
/.idea/
/olive.iml
/gradlebuild/.nb-gradle/private/
/gradle-olive/.nb-gradle/private/
/gradle-olive/build/
/nbproject/private/
/build/
/lib/
/test-output/
/.gradle/
/buildNB/